# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# editors
.vscode

# certificates
certificates
.env*.local
/.idea/
/local-cedar-324921-5c8f531afb2e.json
/supabase/login_response.json

# debugging endpoints
/app/api/debugDatastore/
/app/api/testFindAsset/
/json/stripe-test-objects.json
json/on-demand/stripe-test-payment__1)checkout.session.json
json/on-demand/stripe-test-payment__2)payment_intent.created.json
json/on-demand/stripe-test-payment__3)payment_intent.succeeded.json
json/on-demand/stripe-test-payment__4)charge.succeeded.json
json/on-demand/stripe-test-payment__5)checkout.session.completed.json
json/subscription/stripe-test-subscription__1)checkout.session.json
json/subscription/stripe-test-subscription__2)payment_intent.created.json
json/subscription/stripe-test-subscription__3)invoice.created.json
json/subscription/stripe-test-subscription__4)invoice.finalized.json
json/subscription/stripe-test-subscription__5)charge.succeeded.json
json/subscription/stripe-test-subscription__6)payment_intent.succeeded.json
json/subscription/stripe-test-subscription__7)invoice.paid.json
json/subscription/stripe-test-subscription__8)invoice.payment_succeeded.json
