.root {
  @apply w-full fixed top-0 left-0 z-50;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-zinc-200 rounded-md p-1;
  color: var(--text-color);
}

.link:hover {
  color: var(--primary-color);
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
}

.signOutButton {
  composes: link;
  display: inline-flex;
  align-items: center;
}

.signOutButton:hover {
  color: var(
    --background-color
  ); /* This will use your background color for text */
  background-color: var(
    --primary-color
  ); /* This will use your primary color for the background */
}
